$grayMobile:#f0eff0;
$green:#0bba15;


.cartContainer{

    display:flex;
    flex-direction: column;;
    position:relative;

    .icon{
        width:3rem;
        height:3rem;
        cursor:pointer;
        position:relative;
    
        @media(min-width:1024px){
            width:1.9rem;
            height:1.9rem;
        }
    
        @media(min-width:1248px){
            width:2rem;
            height:2rem;
        }
    }
    
    .productList{
        position:absolute;
        width:300px;
        height:max-content;
        bottom:0px;
        top:55px;
        right:8px;
        background:$grayMobile;
        display:flex;
        flex-direction:column;

        @media(min-width:1024px){
            right:0;
            top:45px
        }

        .triangle{
            position:absolute;
            width:2rem;
            height:1.5rem;
            color:$grayMobile;
            right:0;
            top:-15px;
            text-align:right;
        }

        .totalPrice{
            background:#e5e5e5;
            padding:1.2rem 2rem 1rem;
            color:#555555;
            letter-spacing:0.5px;
        }

        .checkoutBtn{
            background:$green;
            padding:1rem 3rem;
            border:none;
            color:white;
            font-weight:900;
            cursor:pointer
        }
    }

    .showList{
        display:none;
    }
}





